@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);


.video {
  margin: 40px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  transform: translate(0, 60px);
}
