.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Site header, header block */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}

.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  max-width: 730px;
  width: 100%;
  margin-left: 64px;
  align-self: center;
  z-index: 2;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  margin-left: 64px;
  margin-bottom: 30px;
  max-width: 388px;
  width: 100%;
  align-self: flex-end;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color:  #2f80ed;
  text-decoration-line: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
}

/* Section, description block */

.content {
  margin: auto;
  color: #000;
  margin: 0;
  padding: 0;
}

.description {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.two-columns {
  column-count: 2;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0;
  max-width: 175px;
  width: 100%;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  margin-top: 100px;
  margin-bottom: 100px;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  width: 80%;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
}

p.two-columns__paragraph:nth-child(2) {
  margin-top: 30px;
  margin-bottom:30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* Section, digits block */

.digits {
  margin: 0;
  padding: 0;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
}

.section-title_centered {
  margin: 0px auto 20px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.table {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
width: 250px;
vertical-align: top;
margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* section, feynman block */

.feynman {
  background-color:  #f2f2f2;
  height: 790px;
  margin-top: 100px;
  padding-top: 100px;
  position: relative;
  z-index: -2;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  max-width: 775px;
  width: 100%;
  text-align: center;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}
.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  height: 50%;
  right: 48px;
  text-decoration: none;
  color: black;
}
.feynman__image {
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  z-index: -1;
}

/* section, kaufman block */

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: -2;
}

.section-title_theme_dark {
  margin-top: 0;
}
.section-subtitle_theme_dark {
  width: 60%;
}

.table_theme_dark {
  margin-left: auto;
  margin-right: auto;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
  position: absolute;
  overflow: hidden;
  right: -210px;
  top: 0;
  z-index: -1;
  height: 877px;
  width: 877px;
}

/* site footer, footer block */

.footer {
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  padding-top: 60px;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  margin: 0px auto 40px;
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column-heading {
  line-height: 45px;
  height: 45px;
  padding-top: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__links {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  justify-self: start;
}
